#VS Code Configuration Folder
.vscode*

# Dependency directories
NodeJs/node_modules/
Juego/node_modules/
Car Game/node_modules/
# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm
