#VS Code Configuration Folder
.vscode*

# Dependency directories
Osciloscopio/node_modules/
Beta arco y flecha/node_modules/
Car Game/node_modules/
# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm
